@media (max-width: 1200px) {
    .header-content, .content {
        padding: 0 2rem;
    }

    .content {
        grid-template-columns: 1fr;
    }

    .sub-content {
        font-size: 3.5rem;
    }

    .logo-box img {
        width: 10rem;
    }

    .menu, .icon .icon-pic {
        display: none;
    }

    .style-btn, .style-nav {
        width: 3.5rem;
        height: 3.5rem;
    }

    .popular-text {
        font-size: 2rem;
    }

    /* Popup Điều Hướng */
    .nav-container {
        width: 30%;
    }

}

@media (max-width: 944px) {
    .logo-box img {
        width: 12rem;
    }

    .style-btn, .style-nav {
        width: 4rem;
        height: 4rem;
    }

    .sub-content {
        font-size: 4rem;
    }

    /* Popup tìm kiếm */
    .popup-search input {
        width: 50rem;
    }

}

@media (max-width: 704px) {
    .logo-box img {
        width: 15rem;
    }

    .popular-text {
        font-size: 1.7rem;
    }

    .sub-content {
        font-size: 3rem;
    }

    /* Popup tìm kiếm */
    .popup-search input {
        width: 40rem;
    }

    .popup-heading {
        font-size: 2.5rem;
    }

    /* Popup Điều Hướng */
    .nav-container {
        width: 45%;
    }
}

@media (max-width: 544px) {
    .logo-box img {
        width: 12rem;
    }

    .content-text {
        left: 2rem;
        right: 2rem;
    }

    .sub-content {
        font-size: 2rem;
    }

    .popular-text {
        font-size: 1.3rem;
    }

    .article img {
        width: 6rem;
    }

    /* Popup tìm kiếm */
    .popup-search input {
        width: 30rem;
        padding: 0.7rem 1.5rem;
    }

    .popup-heading {
        font-size: 2rem;
    }

    /* Popup Điều Hướng */
    .nav-container {
        width: 70%;
    }
}

@media (max-width: 425px) {
    .content-text {
        gap: 1.2rem;
        bottom: 2rem;
    }

    .content-text button {
        font-size: 0.8rem;
        padding: 0.5rem 1rem;
    }

    .sub-content {
        font-size: 1.5rem;
    }

    .content-time {
        font-size: 0.8rem;
    }

    /* Popup tìm kiếm */
    .popup-search input {
        width: 20rem;
        padding: 0.5rem 1.2rem;
    }

    .popup-btn {
        padding: 0 1.5rem;
    }

}

@media (max-width: 320px) {
    .logo-box img {
        width: 10rem;
    }

    .style-btn, .style-nav {
        width: 3rem;
        height: 3rem;
    }

    .icon-btn svg {
        width: 1.5rem;
    }

    .main-popular {
        padding: 2rem;
    }

    .content-text {
        gap: 1rem;
        bottom: 1rem;
    }

    .content-text button {
        font-size: 0.8rem;
        padding: 0.3rem 1rem;
    }

    .sub-content {
        font-size: 1.2rem;
    }

    .content-time {
        font-size: 0.8rem;
    }

    .popular-text {
        font-size: 1rem;
    }

    .article img {
        width: 5rem;
    }

    .popular-btn button {
        font-size: 1.2rem;
        padding: 0.6rem 1rem;
        
    }

    /* Popup tìm kiếm */
    .popup-search input {
        width: 15rem;
        padding: 0.5rem 1.2rem;
        font-size: 1rem;
    }

    .popup-heading {
        font-size: 1.5rem;
    }

    .popup-btn {
        padding: 0 1.2rem;
    }

    .popup-btn svg {
        width: 1.5rem;
    }
}